package net.nosegrind.apitoolkit

import org.springframework.security.access.annotation.Secured

@Secured('permitAll')
class ApidocController {

	def apiToolkitService
	
	def index(){
		redirect(action:'show')
	}
	
	@Secured('permitAll')
	def show(){
		Map doc = apiToolkitService.generateApiDoc()
		
		[apiList:doc as HashMap]
	}

}