
	// SCAFFOLD name
	def 'POST Request'() {
		Object json
		LinkedHashMap errOutput = [:]
		// SCAFFOLD
		def input = ${inputData} as JSON
		input = input.toString().replaceAll("\"","\'")
		// SCAFFOLD
		def output = ${outputData}
		
		when:
			def ant = new AntBuilder()
			ant.exec(outputProperty:"cmdOut",errorProperty:"cmdErr",resultProperty:"cmdExit",failonerror:"false",executable:"curl"){
				arg(line:"""--verbose --request POST --header "Content-Type: application/json" --data "\${input}" "http://localhost:8080/api_v0.1/post/create" --cookie cookies.txt""")
		 }
		 errOutput = parseOutput(ant.project.properties.cmdErr)
		 json = new JsonSlurper().parseText(ant.project.properties.cmdOut)
		 id = json.id
		 version = json.version
		then:
			assert true
			//assert errOutput.response.code.code == '200'
			//assert json.collect(){it.key} == output
  }
