package	${packageName}

import grails.validation.Validateable
import java.util.*

@Validateable
class ${apiClassName}ApiClass{

	
	${apiProperties}

    static constraints = {
		// import validation from Domain
		importFrom ${apiClassName}
		
		id blank:false
    }
}
