// grails test test-app functional: -inline

import org.codehaus.groovy.grails.commons.cfg.GrailsConfig;

import spock.lang.*
import groovy.util.AntBuilder
import groovy.json.*
import grails.util.Holders as grailsConfig

class PostFunctionalSpec extends Specification {

	static Long createdId = null
	static Long createdVersion = null
	
	final String postId = '1'
	final String sectionId = '6'
	final String authorId = '1'
	def output
	def errOutput
	
	def 'Validate User'() {
		Object json
		LinkedHashMap output = [:]
		
		when:
			def ant = new AntBuilder()
			
			// set this variable in your config or external properties file (preferable)
			String login = grailsConfig.config.root.login
			// set this variable in your config or external properties file (preferable)
			String password = grailsConfig.config.root.password
			ant.exec(outputProperty:"cmdOut",errorProperty:"cmdErr",resultProperty:"cmdExit",failonerror:"false",executable:"curl"){
				arg(line:"""--verbose --request POST --data "j_username=${login}&j_password=${password}&_spring_security_remember_me=checked" http://localhost:8080/api_v0.1/j_spring_security_check --cookie-jar cookies.txt""")
			}
			output = parseOutput(ant.project.properties.cmdErr)
		then:
			assert output.response.code.code == '302'
			assert output.response.code.message == 'Found'
	}

  ${getMethod}
  
  ${putMethod}

  ${postMethod}

  ${deleteMethod}

}